<% content_for :title, "AppGenter – Your IT Solutions" %>

<div class="flex-container">
    <div class="flex-child magenta">
        <div class="flex-subchild first">
            Let's Create a <span class="highlight">SMART</span> Community Together
        </div>
        <div class="flex-subchild second">
            Digitalizing Business everywhere to adapt to this modern world. Guaranteed Increased in Sales by attracting a wider crowd.
        </div>
    </div>
    <div class="flex-child green">
        <%= image_tag "appgenter-dev.png", class: "flex-icon" %>
    </div>
</div>

<div class="section2-container">
    <div class="section2-child one">
        <div class="section2-subchild one">
            <div class="section2-subchild inner-one" data-toggle="accordion-1">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Improvise, Adapt, Overcome
                </div>
            </div>
            <div class="additional-text" id="accordion-1">
                <p>Effort to maintain and improve technology solutions continually for our customers, enabling them to react quickly to 
                ever-changing market demands.</p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-2">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Wide Range of Products
                </div>
            </div>
            <div class="additional-text" id="accordion-2">
                <p>Ranging from apps to face scanners, we only produce top quality products that proves to not only be effective, but also 
                flexible solutions. Helping a wide range of clients thrive in their industries.</p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-3">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Top Speed Customized Solutions
                </div>
            </div>
            <div class="additional-text" id="accordion-3">
                <p>Ability to identify, design and deploy customized solutions with pace and precision, meeting our customers' objective in 
                achieving competitive advantage in their respective industries.</p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-4">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Diverse Areas of Expertise
                </div>
            </div>
            <div class="additional-text" id="accordion-4">
                <p>Manufacturing, education, FMCG, government, shipping and logistics, Oil and Gas, property development and building materials, 
                automotive, entertainments and many more for a cohered 250 years.</p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-5">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Projects and Business Development
                </div>
            </div>
            <div class="additional-text" id="accordion-5">
                <p>Building solution that deliver humanizing and embracing technology, knowledge and innovation for a better.</p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-6">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    Dynamic Aggressive and Dedicated Workforce
                </div>
            </div>
            <div class="additional-text" id="accordion-6">
                <p>Management of personnel with shift, overtime and public holiday settings, customization upon HR policy into system to fit in 
                various circumstances.</p>
            </div>
        </div>
    </div>
</div>

<div class="section3-container">
    <div class="section3-child one">
        <div class="section3-subchild one">
            <div class="section3-subchild image">
                <%= image_tag "appgenter-money.png", class: "section3-icon" %>
            </div>
        </div>
        <div class="section3-subchild two">
            <div class="section3-subchild two-text first">
                <h2>About Us</h2>
            </div>
            <div class="section3-subchild two-text second">
                <h2>Humanizing and embracing technology, knowledge and innovation for a better way of life.</h2>
            </div>
            <div class="section3-subchild two-text third">
                <p>Synergistix Global is incorporated and designed to provide businesses with competitive edge by supporting access to business 
                information, with the top professionals in Artificial Intelligence (AI), Internet of Things (IoT), and 
                Big Data in Fintech and Mobile Technologies. Our “ConnectY” solutions comprises of proven business methodologies for businesses 
                to remain in contact while the whole world is in the period of Social Distancing and Contactless.</p>
            </div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="flex-child magenta">
        <div class="flex-subchild first">
            Let's Create a <span class="highlight">SMART</span> Community Together
        </div>
        <div class="flex-subchild second">
            Digitalizing Business everywhere to adapt to this modern world. Guaranteed Increased in Sales by attracting a wider crowd.
        </div>
    </div>
    <div class="flex-child green">
        <%= image_tag "appgenter.png", class: "flex-icon" %>
    </div>
</div>