<% content_for :title, "Products – ALGODLA SDN. BHD." %>

<div class="product-container">
    <div class="product-child one">
        <div class="product-subchild one" id="prod-sub">
            We provide various
            <br> 
            kinds of <span class="product-span">services</span> for you
        </div>
        <div class="product-subchild two">
            <div class="product-subtwo-inner one">
                User App and Merchant app
                <br>
                (IOS & Android)
            </div>
            <div class="product-subtwo-inner two">
                Technical Maintenance and Support
            </div>
            <div class="product-subtwo-inner three">
                Cloud Hosting at Reliable Environment
            </div>
        </div>
        <div class="product-subchild three">
            <div class="product-subthree-inner one">
                Backend System
            </div>
            <div class="product-subthree-inner two">
                Marketing Support
            </div>
            <div class="product-subthree-inner three">
                Data Analytics
            </div>
        </div>
    </div>
</div>

<div class="product-container2">
    <div class="product2-child one">
        <div class="product2-subchild one">
            <div class="product2-subone-inner one">
                <div class="subone-title one">
                </div>
                <div class="subone-desc one">
                </div>
            </div>
            <div class="product2-subone-inner two">
                <div class="subone-title two">
                    Flash Sales
                </div>
                <div class="subone-desc two">
                    Create flash sales to increase traffic
                </div>
            </div>
            <div class="product2-subone-inner three">
                <div class="subone-title three">
                    Loyalty Programs
                </div>
                <div class="subone-desc three">
                    Voucher feature that remain your customer’s loyalty Point redemption and exclusive deals that create user’s interest
                </div>
            </div>
        </div>
        <div class="product2-subchild two">
            <div class="product2-subtwo-inner one">
                <div class="subtwo-title one">
                </div>
                <div class="subtwo-desc one">
                </div>
            </div>
            <div class="product2-subtwo-inner two">
                <div class="subtwo-title two">
                    ConnectY Smart Community
                </div>
                <div class="subtwo-desc two">
                    Connect every merchant on board Seamless
                </div>
            </div>
            <div class="product2-subtwo-inner three">
                <div class="subtwo-title three">
                    Gamification
                </div>
                <div class="subtwo-desc three">
                    Gets your customer involved and get them interested
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-container3">
    <div class="product3-child one">
        <div class="product3-subchild one">
            <div class="product3-subone-inner one">
                <div class="subone-title one">
                    Product & Service Listings
                </div>
                <div class="subone-desc one">
                    Detailed listing that allow customers to search at ease. Improve customer’s experience and satisfaction
                </div>
            </div>
            <div class="product3-subone-inner two">
                <div class="subone-title two">
                    Push Notifications
                </div>
                <div class="subone-desc two">
                    Easily remind customers about your marketing campaigns at the optimal time Businesses are even closer to facilitating direct interaction with customers
                </div>
            </div>
            <div class="product3-subone-inner three">
                <div class="subone-title three">
                </div>
                <div class="subone-desc three">
                </div>
            </div>
        </div>
        <div class="product3-subchild two">
            <div class="product3-subtwo-inner one">
                <div class="subtwo-title one">
                    Corporate Identity
                </div>
                <div class="subtwo-desc one">
                    Create, accept and approve booking/appointment at all times. Update service/ staff’s availability
                </div>
            </div>
            <div class="product3-subtwo-inner two">
                <div class="subtwo-title two">
                    Booking & Appointments
                </div>
                <div class="subtwo-desc two">
                    Customized colours, fonts to match with your company identity. Creative design that will bring your ideas to life
                </div>
            </div>
            <div class="product3-subtwo-inner three">
                <div class="subtwo-title three">
                </div>
                <div class="subtwo-desc three">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-container4">
    <div class="product4-child one">
        <div class="product4-subchild one" id="prod4-sub-one">
            Choose the <span class="product4-title">Right Plan</span> for your business
        </div>
        <div class="product4-subchild two" id="prod4-sub-two">
            An all-in-one app solution that is affordable and
            <br> 
            beneficial for your business
        </div>
        <div class="product4-subchild three">
            <div class="product4-innerchild one">
                <div class="product4-plan starter">
                    <div class="starter-title">
                        Starter
                    </div>
                    <div class="starter-pricing">
                        <span class="rm">RM</span>
                        <span class="amount">3,650</span>
                        <span class="per-year">Yearly</span>
                    </div>
                    <div class="starter-item">
                        <span class="s-one">Android APP</span>
                        <span class="s-two">Merchant APP</span>
                        <span class="s-three">Base Functions</span>
                    </div>
                    <div class="starter-button">
                        <%= link_to "Get Quote", contact_path, class: "go-green" %>
                    </div>
                </div>
            </div>
            <div class="product4-innerchild two">
                <div class="product4-plan premium">
                    <div class="premium-title">
                        Premium
                    </div>
                    <div class="premium-pricing">
                        <span class="rm">RM</span>
                        <span class="amount">19,900</span>
                        <span class="per-year">Yearly</span>
                    </div>
                    <div class="premium-item">
                        <span class="pr-one">Android APP</span>
                        <span class="pr-two">Merchant APP</span>
                        <span class="pr-three">Base Functions</span>
                        <span class="pr-four">Sales/ Marketing Functions</span>
                        <span class="pr-five">Supports</span>
                    </div>
                    <div class="premium-button">
                        <%= link_to "Get Quote", contact_path, class: "go-orange" %>
                    </div>
                </div>
            </div>
            <div class="product4-innerchild three">
                <div class="product4-plan platinum">
                    <div class="platinum-title">
                        Platinum
                    </div>
                    <div class="platinum-pricing">
                        <span class="rm">RM</span>
                        <span class="amount">35,900</span>
                    </div>
                        <span class="per-year" id="otp">One Time Payment</span>
                        
                    <div class="platinum-item">
                        <span class="pl-one">Android APP</span>
                        <span class="pl-two">Merchant APP</span>
                        <span class="pl-three">Base Functions</span>
                        <span class="pl-four">Sales/ Marketing Functions</span>
                        <span class="pl-five">Payment & Loyalty Program</span>
                        <span class="pl-six">Supports</span>
                        <span class="pl-seven">Special Features</span>
                    </div>
                    <div class="platinum-button">
                        <%= link_to "Get Quote", contact_path, class: "go-purple" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-container5">
    <div class="product5-child one">
        <div class="product5-subchild one">
        </div>
        <div class="product5-subchild two">
            <a class="product5-link" href="/pdfs/ConnectY_Product_Packages.pdf" target="_blank">For More Details View Here &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
    </div>
</div>