<% content_for :title, "Projects – ALGODLA SDN. BHD." %>

<div class="project-container">
    <div class="project-child one">
        <div class="project-subchild one">
            <div class="project-innerchild one">
                <div class="innerchild-left one">
                    <%= t '.project_title' %>
                </div>
                <div class="innerchild-left two">
                    <%= t '.project_desc1' %>
                </div>
            </div>
            <div class="project-innerchild two">
              <iframe class="yt-vid1" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="project2-container2">
    <div class="project2-child one">
        <div class="project2-subchild one">
            <div class="project2-innerchild one">
              <iframe class="yt-vid2" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="project2-innerchild two">
                <div class="innerchild2-left one">
                    <%= t '.project_title' %>
                </div>
                <div class="innerchild2-left two">
                    <%= t '.project_desc2' %>
                </div>
            </div>
        </div>
    </div>
</div>