.footer-container {
    display: flex;
    height: 410px;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    padding: 5% 0% 7% 0%;
}

.footer-child{
    width: 23.33%;
    height: 180px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer-subchild{
    margin: 10px 0 20px 0;
}

.footer-subchild.left-two,
.footer-subchild.left-three{
    text-align: justify;
    color: #aaa6a6
}

.footer-inner-child-two{
    margin-left: 120px;
}

.footer-subchild.middle-two{
    text-align: justify;
    color: #aaa6a6
}

.footer-subchild.right-two{
    text-align: justify;
    color: #aaa6a6
}

.bottom-container{
    display: flex;
    height: 80px;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #181818;
}

.bottom-child{
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bottom-subchild{
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.footer-info{
    color: #aaa6a6;
    text-decoration: none;
}

/* Media Query for screens with max-width 991px (smaller screens) */
@media screen and (max-width: 991px) {
    .footer-container {
        height: auto;
        padding: 5% 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap: wrap; /* Add this property */
    }

    .footer-child {
        width: 100%;
        max-width: 100%;
        height: auto;
        text-align: center;
    }

    .footer-inner-child-two {
        margin-left: 0;
    }

    .bottom-container {
        height: auto;
        padding-bottom: 15px;
    }

    .bottom-child {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    /* Center text for these subchild elements */
    .footer-subchild.left-two,
    .footer-subchild.left-three,
    .footer-subchild.middle-two,
    .footer-subchild.right-two {
        text-align: center;
    }

    /* Set a min-width to prevent overlapping */
    .footer-child.two {
        min-width: 120px;
    }
}


