#nav-container {
    border-bottom: solid 1px rgb(212, 212, 212);
}

.navbar-nav {
    margin: 0;
}

ul.navbar-nav li.nav-lang a {
    text-decoration: none;
}

ul.navbar-nav li.nav-lang .selected-locale a {
    color: red;
  }

#nav-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.1em;
    color: gray;
}

/* Custom CSS for the dropdown menu */
.dropdown-menu {
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border color */
}

.dropdown-item {
    color: #333; /* Text color */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Background color on hover */
}

.fas.fa-envelope {
    color: rgb(11, 11, 194);
    margin-right: 5px;
}

.fab.fa-facebook {
    color: #4267B2;
}

.fab.fa-instagram {
    color: #E1306C;
}

.fab.fa-youtube {
    color: #FF0000;
}

.fab.fa-linkedin {
    color: #0072b1;
}

.responsive-navbar {
    /* Hide the navbar on screens smaller than 992px (lg) */
    @media (max-width: 991px) {
        display: none;
    }
}
