.container {
    max-width: 100%;
}

.navbar-nav {
    margin: 0;
}

#nav-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.1em;
    color: gray;
}

.responsive-navbar {
    /* Hide the navbar on screens smaller than 992px (lg) */
    @media (max-width: 991px) {
        display: none;
    }
}

.fas.fa-envelope {
    color: rgb(11, 11, 194);
    margin-right: 5px;
}

.fab.fa-facebook {
    color: #4267B2;
}

.fab.fa-instagram {
    color: #E1306C;
}

.fab.fa-youtube {
    color: #FF0000;
}

.fab.fa-linkedin {
    color: #0072b1;
}
