.navbar-nav{
    margin-left: 250px;
}

#nav-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.1em;
    color: gray;
}

.navbar-nav.ml-auto {
    margin-right: 250px;
}

.fas.fa-envelope{
    color: rgb(11, 11, 194);
    margin-right: 5px;
}

.fab.fa-facebook{
    color: #4267B2;
}

.fab.fa-instagram{
    color: #E1306C;
}

.fab.fa-youtube{
    color: #FF0000;
}

.fab.fa-linkedin{
    color: #0072b1;
}